body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family: arial;
    color: white;
    background-image: url("../img/bg2.webp");
    background-size: cover;
}

p {
    font-size: large;
}

.container {
    width: 400px;
    height: 700px;
    padding: 20px;
    box-sizing: border-box;
    padding-bottom: 110px;
    background-color: aliceblue;
    margin-top: 100px;
    border-radius: 20px;
    display: grid;
    justify-items: center;
    grid-template-areas: 
    "hero"
    "nama"
    "deskripsi";
    /*background-image: url("OIP.jpg");*/
    background-image: url("../img/bg3.webp");
    background-size: cover;
}

#img {
    height: 200px;
    width: 200px;
    margin-top: 30px;
    background-size: cover;
    background-image: url("../img/animek2.png");
    border:solid 5px pink;
    border-radius: 50%;
    /*background-color: black;*/
    grid-area: hero;
    display: grid;
    justify-content: center;
    align-items: center;
    transition: 1s;
    animation-name: img;
    animation-duration: 2s;
   
}

.heading {
    color: pink;
    text-shadow: 0px 0px 5px black;
    font-family: 'Pacifico', cursive;
}

#img .container_tulisan {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
}

#img .container_tulisan .tulisan {
    color: violet;
}

h2 {
    grid-area: nama;
    font-family:arial sans-serif;
    font-weight: 100;
}

.teks {
    display: grid;
    justify-content: center;
    align-items: center;
}

.teks .isi_teks {
    grid-area: deskripsi;
    background-color: rgba(31, 30, 30, 0.3);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
}

button {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 2px solid pink;
    box-shadow: 0 0 4px 0px rgba(42, 20, 54, 1);
}

strong {
    color: pink;
    font-size: large;
}

.container .button {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#xc {
     animation-name: mm;
     animation-iteration-count: infinite;
}

/*nav bar*/




/*animation*/

/*@keyframes mm {
    0% {
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(180deg);
    }
}*/

@keyframes img {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}